<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{#if-flag-ENABLE_FOO}}
<div class="enabled_foo">ENABLED_FOO!! \o/</div>
{{else}}
<div class="disabled_foo">DISABLED_FOO!! \o/</div>
{{/if-flag-ENABLE_FOO}}

{{#if-flag-ENABLE_BAR}}
<div class="enabled_bar">ENABLED_BAR!! \o/</div>
{{else}}
<div class="disabled_bar">DISABLED_BAR!! \o/</div>
{{/if-flag-ENABLE_BAR}}
